<!DOCTYPE html>
<html>
  <head>
    <title>BeerMe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', "https://afeld.github.io/emoji-css/emoji.css" %>
    <%= stylesheet_link_tag    'application', 'https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/journal/bootstrap.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'container-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
